<header>
    <div class="col">
        <a href="/conditional-token-docs/" class="logo">Conditional Tokens</a>
    </div>
    <nav>
        <ul>
            <!-- <li class="has-submenu">
                <a href="/conditional-token-docs/get-involved/"><%- __('site.header.nav.get-involved.title') %> <i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4><%- __('site.header.nav.get-involved.title') %></h4>
                                <p class="p-large"><%- __('site.header.nav.get-involved.description') %></p>
                                <a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.learn-more') %></a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="/conditional-token-docs/get-involved/developers/" class="link-arrow"><%- __('site.link.developers') %></a></li>
                                    <li><a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.educators') %></a></li>
                                    <li><a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.community-groups') %></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
            <li class="has-submenu <% if(is_current('docs')) { %>active<% } %>">
                <a href="/conditional-token-docs/docs/"><%- __('site.header.nav.docs.link') %> <i class="arrow"></i></a>
                <div class="submenu text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4><%- __('site.header.nav.docs.title') %></h4>
                                <p class="p-large"><%- __('site.header.nav.docs.description') %></p>
                                <a href="/conditional-token-docs/docs/" class="link-arrow"><%- __('site.link.read-all') %></a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="/conditional-token-docs/docs/technical_documentation.html" class="link-arrow"><%- __('site.header.nav.docs.link-1') %></a></li>
                                    <li><a href="/conditional-token-docs/docs/eip-1155.html" class="link-arrow"><%- __('site.header.nav.docs.link-2') %></a></li>
                                    <li><a href="/conditional-token-docs/conditional-tokens/" class="link-arrow"><%- __('site.header.nav.docs.link-3') %></a></li>
                                    <li><a href="/conditional-token-docs/conditional-tokens/get-started.html" class="link-arrow"><%- __('site.header.nav.docs.link-4') %></a></li>
                                    <li><a href="/conditional-token-docs/tutorials/" class="link-arrow"><%- __('site.header.nav.docs.link-5') %></a></li>
                                    <li><a href="/conditional-token-docs/research/" class="link-arrow"><%- __('site.header.nav.docs.link-6') %></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="https://blog.gnosis.pm"><%- __('site.header.nav.blog') %></a></li>
        </ul>
    </nav>
    <a href="#" class="mobile-nav-trigger">
        <svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="22" height="2" rx="0.5" fill="#001428"/> <rect y="7" width="22" height="2" rx="0.5" fill="#001428"/> </svg>
    </a>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a href="/conditional-token-docs/" class="logo"></a>
            <a href="#" class="mobile-nav-trigger-close">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="2" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#001428"/> <rect x="0.868164" y="15.9246" width="22" height="2" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#001428"/> </svg>
            </a>
        </div>
    </div>
    <div class="backdrop"></div>
</header>