<header>
    <div class="col">
        <a href="/conditional-token-docs/" class="logo"><%- image_tag("img/logo.svg") %></a>
    </div>
    <nav>
        <ul>
            <li class="has-submenu">
                <a href="/conditional-token-docs/get-involved/"><%- __('site.header.nav.get-involved.title') %> <i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4><%- __('site.header.nav.get-involved.title') %></h4>
                                <p class="p-large"><%- __('site.header.nav.get-involved.description') %></p>
                                <a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.learn-more') %></a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="/conditional-token-docs/get-involved/developers/" class="link-arrow"><%- __('site.link.developers') %></a></li>
                                    <li><a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.educators') %></a></li>
                                    <li><a href="/conditional-token-docs/get-involved/" class="link-arrow"><%- __('site.link.community-groups') %></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="has-submenu <% if(is_current('docs')) { %>active<% } %>">
                <a href="/conditional-token-docs/docs/"><%- __('site.header.nav.docs.link') %> <i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4><%- __('site.header.nav.docs.title') %></h4>
                                <p class="p-large"><%- __('site.header.nav.docs.description') %></p>
                                <a href="/conditional-token-docs/docs/" class="link-arrow"><%- __('site.link.read-all') %></a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="/conditional-token-docs/docs/technical_documentation.html" class="link-arrow"><%- __('site.header.nav.docs.link-1') %></a></li>
                                    <li><a href="/conditional-token-docs/docs/eip-1155.html" class="link-arrow"><%- __('site.header.nav.docs.link-2') %></a></li>
                                    <li><a href="/conditional-token-docs/conditional-tokens/" class="link-arrow"><%- __('site.header.nav.docs.link-3') %></a></li>
                                    <li><a href="/conditional-token-docs/conditional-tokens/get-started.html" class="link-arrow"><%- __('site.header.nav.docs.link-4') %></a></li>
                                    <li><a href="/conditional-token-docs/tutorials/" class="link-arrow"><%- __('site.header.nav.docs.link-5') %></a></li>
                                    <li><a href="/conditional-token-docs/research/" class="link-arrow"><%- __('site.header.nav.docs.link-6') %></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="https://blog.gnosis.pm"><%- __('site.header.nav.blog') %></a></li>
        </ul>
    </nav>
    <div class="col btns text-right">
        <a href="https://github.com/gnosis/dex-research" target="_blank">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.2793C-0.000298842 16.1348 3.02955 20.4456 7.52152 21.9808C8.07188 22.0837 8.27249 21.7358 8.27249 21.4367C8.27249 21.1688 8.26325 20.4596 8.25797 19.5189C5.19868 20.1997 4.5533 18.0072 4.5533 18.0072C4.05178 16.7038 3.33117 16.356 3.33117 16.356C2.33208 15.6576 3.4064 15.6712 3.4064 15.6712C4.51107 15.751 5.09178 16.8338 5.09178 16.8338C6.07239 18.5567 7.66538 18.0586 8.29229 17.7703C8.39259 17.0422 8.67635 16.5455 8.99178 16.2626C6.54883 15.9784 3.98051 15.0107 3.98051 10.6893C3.98051 9.45765 4.40944 8.45071 5.11289 7.66302C4.99939 7.37745 4.62193 6.22976 5.22112 4.67739C5.22112 4.67739 6.14498 4.37422 8.24477 5.83456C9.1425 5.5836 10.0687 5.45572 10.9992 5.45425C11.9292 5.45552 12.8549 5.58295 13.7523 5.8332C15.8508 4.37422 16.7746 4.67739 16.7746 4.67739C17.3738 6.22976 16.9963 7.37745 16.8828 7.66302C17.5889 8.45071 18.0139 9.45765 18.0139 10.6893C18.0139 15.0215 15.4416 15.9757 12.9921 16.2545C13.3867 16.6023 13.7391 17.2912 13.7391 18.3428C13.7391 19.8505 13.7259 21.0673 13.7259 21.4367C13.7259 21.7385 13.9239 22.0891 14.4808 21.9795C19.8103 20.1557 22.9429 14.5062 21.7459 8.877C20.5489 3.24775 15.4072 -0.551533 9.82107 0.065584C4.23498 0.682701 0.000354915 5.51783 0 11.2793H0Z" fill="#4360DF"/>
            </svg>
        </a>
    </div>
    <a href="#" class="mobile-nav-trigger">
        <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="22" height="1" rx="0.5" fill="#090909"/> <rect y="7" width="22" height="1" rx="0.5" fill="#090909"/> </svg>
    </a>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a href="/conditional-token-docs/" class="logo"><%- image_tag("img/logo.svg") %></a>
            <a href="#" class="mobile-nav-trigger-close">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"/> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"/> </svg>
            </a>
        </div>
    </div>
    <div class="backdrop"></div>
</header>