<!-- The main content area -->
<main id="main" role="main">

	<div class="stripe">
		<b><%- __('site.docs.stripe.title') %></b>
	</div>

	<!-- DOCS-PAGE -->
	<section class="docs-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<%- partial('partial/sidebar') %>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title mb-0"><%- __('site.docs.title') %></h4>
							<p><%- __('site.docs.description') %></p>
						</div>
					</div>
					<div class="categories">
						<div class="row">
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="<%- show_lang() %>/docs/technical_documentation.html"><%- __('site.docs.categories.technical-documentation.title') %></a>
									<span class="detail"><%- __('site.docs.categories.technical-documentation.description') %></span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="<%- show_lang() %>/conditional-tokens/"><%- __('site.docs.categories.conditional-tokens.title') %></a>
									<span class="detail"><%- __('site.docs.categories.conditional-tokens.description') %></span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="<%- show_lang() %>/conditional-tokens/get-started/"><%- __('site.docs.categories.get-started.title') %></a>
									<span class="detail"><%- __('site.docs.categories.get-started.description') %></span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="<%- show_lang() %>/tutorials/"><%- __('site.docs.categories.tutorials.title') %></a>
									<span class="detail"><%- __('site.docs.categories.tutorials.description') %></span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="<%- show_lang() %>/research/"><%- __('site.docs.categories.research.title') %></a>
									<span class="detail"><%- __('site.docs.categories.research.description') %></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title m-t-90"><%- __('site.docs.pinned-repositories.title') %></h4>
						</div>
					</div>
					<div class="pinned-repos">
						<div class="row">
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="https://github.com/ethereum/EIPs/issues/1155" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.eip-1155.title') %></a>
									<span class="detail"><%- __('site.docs.pinned-repositories.eip-1155.description') %></span>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="inner">
									<a href="https://github.com/gnosis/dex-research" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.dex-research.title') %></a>
									<span class="detail"><%- __('site.docs.pinned-repositories.dex-research.description') %></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="section-title m-t-90 mb-0"><%- __('site.docs.help.title') %></h4>
							<p><%- __('site.docs.help.description') %></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-4 col-md-6">
							<ul class="support">
								<li><a href="https://github.com/gnosis/dex-research/" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.help.link-1') %></a></li>
								<li><a href="https://www.reddit.com/r/gnosisPM/" target="_blank"><%- image_tag("img/icon-reddit.svg") %> <%- __('site.docs.help.link-2') %></a></li>
							</ul>
						</div>
						<div class="col-xl-4 col-md-6">
							<ul class="support">
								<li><a href="mailto:support@gnosis.pm"><%- image_tag("img/icon-email.svg") %> <%- __('site.docs.help.link-3') %></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DOCS-PAGE -->

</main>
