<!-- The main content area -->
<main id="main" role="main">

	<!-- GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->
	<section class="get-involved-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1><%- __('site.get-involved.index.intro.title') %></h1>
					<p class="teaser-1"><%- __('site.get-involved.index.intro.description') %></p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->

	<!-- GET-INVOLVED-BOX-LINKS -->
	<section class="get-involved-box-links">
		<div class="container">
			<div class="row">
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="/conditional-token-docs/get-involved/developers/"><%- image_tag("/img/get-involved-development.svg") %> <%- __('site.get-involved.index.resources.resource-1.title') %></a></h3>
						<p><%- __('site.get-involved.index.resources.resource-1.description') %></p>
						<a href="/conditional-token-docs/get-involved/developers/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="#"><%- image_tag("/img/get-involved-educate.svg") %> <%- __('site.get-involved.index.resources.resource-2.title') %></a></h3>
						<p><%- __('site.get-involved.index.resources.resource-2.description') %></p>
						<a href="#" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="box-link">
						<h3 class="title"><a href="#"><%- image_tag("/img/get-involved-community-groups.svg") %> <%- __('site.get-involved.index.resources.resource-3.title') %></a></h3>
						<p><%- __('site.get-involved.index.resources.resource-3.description') %></p>
						<a href="#" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-BOX-LINKS -->

	<!-- GET-INVOLVED-TOP-CONTRIBUTORS -->
	<section class="about-core-contributors top-contributors p-t-160 p-b-160" id="core-contributors">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="inner">
						<h3><%- __('site.get-involved.index.contributors.title') %></h3>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="contributors row">
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/enrico.jpg", { srcset: '/img/enrico.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/enrico.jpg", { srcset: '/img/enrico.jpg 2x'}) %>    
								<b>Enrico Del Fante</b>         
								<span></span>         
								<ul>
									<li><a href="https://twitter.com/tbenr" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>      
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/brian.jpg", { srcset: '/img/brian.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/brian.jpg", { srcset: '/img/brian.jpg 2x'}) %>    
								<b>Brianxv</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/brianxv15" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>      
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/eduardo.jpg", { srcset: '/img/eduardo.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/eduardo.jpg", { srcset: '/img/eduardo.jpg 2x'}) %>    
								<b>Eduardo Garza</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/dondesomos1" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>      
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/prabhleen.jpg", { srcset: '/img/prabhleen.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/prabhleen.jpg", { srcset: '/img/prabhleen.jpg 2x'}) %>    
								<b>Prabhleen Singh</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/PrabhleenDua" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>      
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/warsoverjohn.jpg", { srcset: '/img/warsoverjohn.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/warsoverjohn.jpg", { srcset: '/img/warsoverjohn.jpg 2x'}) %>    
								<b>Warsoverjohn</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/Warsoverjohn1" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/sebastian.jpg", { srcset: '/img/sebastian.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/sebastian.jpg", { srcset: '/img/sebastian.jpg 2x'}) %>    
								<b>Sebastian Moonjava</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/theDAOKING" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/yalu.jpg", { srcset: '/img/yalu.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/yalu.jpg", { srcset: '/img/yalu.jpg 2x'}) %>    
								<b>Yalu</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/yalu" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/danieltbar.jpg", { srcset: '/img/danieltbar.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/danieltbar.jpg", { srcset: '/img/danieltbar.jpg 2x'}) %>    
								<b>Daniel Bar</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/danieltbar" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/kris.jpg", { srcset: '/img/kris.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/kris.jpg", { srcset: '/img/kris.jpg 2x'}) %>    
								<b>Kris Calabio</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/KuyaKris88" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
						<li class="contributor col-md-1">       
							<a href="#" class="contributor-trigger">
								<%- image_tag("/img/nanda.jpg", { srcset: '/img/nanda.jpg 2x'}) %>
							</a>       
							<div class="contributor-info">        
								<%- image_tag("/img/nanda.jpg", { srcset: '/img/nanda.jpg 2x'}) %>    
								<b>Sourav Kumar Nanda</b>         
								<span></span>
								<ul>
									<li><a href="https://twitter.com/souravinsights" target="_blank"><%- image_tag("/img/icon-twitter-purple.svg") %></a></li>         
								</ul>    
							</div>    
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- END-GET-INVOLVED-TOP-CONTRIBUTORS -->

</main>